@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  text-align: start;
  border: none;
  font-family: 'Inter', sans-serif;
}

/* use for exclued tailwind */
.no-tailwind * {
  all: revert !important;
}

/* phone Input  */
.PhoneInputInput {
  outline: none;
  background-color: #eff3fa;
  padding: 14px 12px;
  color: #222222;
  border-radius: 8px;
  border: 1px solid #5680C0;
  margin-left: 10px;
}

.PhoneInputCountry {
  margin-right: 15px !important;
  display: flex !important;
  gap: 15px;
  background-color: #eff3fa;
  padding: 14px 20px 14px 24px;
  border-radius: 8px;
  border: 1px solid #5680C0;
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.bg-1 {
  background-color: #5680C0;
}

.bg-2 {
  background-color: #5680C0;
}

.bg-3 {
  background-color: #6c87af;
}

.bg-4 {
  background-color: #cadeff;
}

.bg-5 {
  background-color: #e3eeff;
}

.bg-s-1 {
  background-color: #BA63FF;
}

.bg-s-2 {
  background-color: #BA63FF;
}


.text-1 {
  color: #5680C0;
}

.text-s-1 {
  color: #5C58EB;
}

.text-s-2 {
  color: #7e7aec;
}



.bg-g {
  background: linear-gradient(to right, #BA63FF, #5C58EB, #56E1E8);
}

.text-g {
  background: linear-gradient(to right, #5C58EB, #BA63FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-g {
  background: linear-gradient(to right, #56E1E8, #5C58EB, #BA63FF);
  transition: all 0.3s ease;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
}

.btn-g:hover {
  filter: brightness(1.1);
}

:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper .ant-table-thead>tr>th {
  background-color: #4848ff;
}

:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper .ant-table-tbody>tr>td,
:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper tfoot>tr>th,
:where(.css-dev-only-do-not-override-gpmk94).ant-table-wrapper tfoot>tr>td {
  padding: 9px 16px;
}

:where(.css-dev-only-do-not-override-pc6aac).ant-input-lg {
  padding: 7px 11px;
  height: 38px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 6px;
}

:where(.css-dev-only-do-not-override-84d9so).ant-table-wrapper .ant-table-thead>tr>th {
  background: #5680C0;
}

.no-arrow-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: none;
  padding-right: 1em;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}